*{
	padding: 0px;
	margin: 0px;
	
}
.container{
	width: 1140px;
	margin: 0px auto;
}
.main-form{
	width: 500px;
	margin: 50px auto;
	padding: 50px;
	background-color: #eeeeee;
}
.avater{
	width: 100%;
	text-align: center;
}
.avater img{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 2px solid #000;
}
.main-form h2{
	font-family: serif;
	font-size: 52px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 62px;
	margin: 30px 0px;
}
.form-group{
	width: 100%;
	margin: 0px 0px 20px;
}
.form-group label{
	display: block;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 28px;
	margin: 0px 0px 10px;
}
.form-control{
	width: 95%;
	padding: 10px;
	background: transparent;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	border: 2px solid #000;
	border-radius: 8px;
}
.btn-info{
	padding: 10px 45px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	border: 2px solid #000;
	color: #fff;
	background: #000;
	transition: 0.4s;
}
.btn-info:hover {
	border: 2px solid #000;
	color: #000;
	background: transparent;
	cursor: pointer;
}
.social-section{
	width: 100%;
	padding: 80px 0px;
}
.social-icons{
	display: block;
	width: 100%;
	text-align: center;
}
.social-icons li{
	list-style: none;
	display: inline-block;
}
.social-icons li a{
	display: block;
	width: 75px;
	height: 75px;
	font-size: 30px;
	line-height: 75px;
	border-radius: 100%;
	margin: 0px 10px;
	background: #000;
	color: #fff;
	border: 2px solid #000;
	transition: 0.6s;
}
.social-icons li a:hover{
	background: transparent;
	color: #000;
	border: 2px solid #000;
}